@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: white;
    --background-color: #111827;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-color);
}
